@import "tailwindcss";

@theme {
    /* start breakpoint */
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1025px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;

    /* end breakpoint */


    --color-black-10: #0000001a;
    --color-regal-blue: #243c5a;
}
